<form [formGroup]="forms">
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label  class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                <small *ngIf="forms.controls['name'].touched && forms.hasError('required','name')">Name is required</small>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="male" formControlName="gender">
                    <label class="form-check-label" for="inlineCheckbox1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="female" formControlName="gender">
                    <label class="form-check-label" for="inlineCheckbox1">Female</label>
                  </div>
                  <small *ngIf="forms.controls['gender'].touched && forms.hasError('required','gender')">Name is required</small>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label  class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email"   placeholder="Email">
                <small *ngIf="forms.controls['email'].touched && forms.hasError('required','email')">Name is required</small>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label  class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password"   placeholder="Password">
                <small *ngIf="forms.controls['password'].touched && forms.hasError('required','password')">Name is required</small>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label  class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
                <small *ngIf="forms.controls['confirmPassword'].touched && forms.hasError('required','confirmPassword')">Name is required</small>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                
                <input type="button" class="btn btn-primary" value="Create Account" (click)="onSignUp()">
              </div>
        </div>
    </div>
</form>