<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Clinic System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/home/newPatient">New Patient</a>
          <a class="nav-link" routerLink="/home/patientList">Patient List</a>
          <a class="nav-link" routerLink="/home/newCountry">New Country</a>
          <a class="nav-link" routerLink="/home/countryList">Country List</a>
          <a class="nav-link" routerLink="/home/signup">New User</a>
          <a class="nav-link" routerLink="/home/newRole">New Role</a>
          <a class="nav-link" routerLink="/home/userList">Users List</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>